@using BookShoppingCardUI.Constants
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav align-items-center gap-3">
    <li class="nav-item position-relative ms-5">
        <a class="nav-link text-dark" href="/Cart/GetUserCart">
            <span id="cartCount" class="position-absolute mt-1 start-100 translate-middle badge rounded-pill bg-danger">
                0
            </span>
            <i class="bi bi-cart fs-5"></i>
        </a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello
                @User.Identity?.Name
                @if (User.IsInRole(RoleNames.Admin.ToString()))
                {
                    <strong>(Admin)</strong>
                }
                else if (User.IsInRole(RoleNames.User.ToString()))
                {
                    <strong>(User)</strong>
                }
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register<i
                    class="bi bi-box-arrow-in-right"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login<i
                    class="bi bi-box-arrow-in-right"></i></a>
        </li>
    }
</ul>